.coin-list {
    height: 80px;
}

.coin-list ul {
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.coin-list ul li {
    list-style: none;
    margin: 0 15px;
}

.coin {
    position: relative;
    display: flex;
    justify-content: center;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 63px;
    background: #333;
    border-radius: 50%;
    font-size: 30px;
    color: #666;
    transition: .5s;
    border-color: #333 !important;
}

.coin::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #a710ff;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

.coin:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #a710ff;
}

.coin:hover {
    color: #a710ff;
    box-shadow: 0 0 5px #a710ff;
    text-shadow: 0 0 5px #a710ff;
    cursor: pointer;
}

.coin:hover .coin-text{
    color: #a710ff;
}

.coin-text {
    color: #fff;
    text-align: center;
}


.loads {
    position: relative;
    min-height: 200px;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
}

.glowing::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0 0 17px 3px #ffff01, 0 0 4px 2px #ffff01;
    box-shadow: 0 0 17px 3px #ffff01, 0 0 4px 2px #ffff01;
    z-index: -1;
    -webkit-animation-name: gradient-shadow;
    animation-name: gradient-shadow;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

@-webkit-keyframes gradient-shadow {
    0% {
        -webkit-box-shadow: 0 0 17px 3px #C586C0, 0 0 4px 2px #C586C0;
        box-shadow: 0 0 17px 3px #C586C0, 0 0 4px 2px #C586C0;
    }
    20% {
        -webkit-box-shadow: 0 0 17px 3px #0ff, 0 0 4px 2px #0ff;
        box-shadow: 0 0 17px 3px #0ff, 0 0 4px 2px #0ff;
    }
    40% {
        -webkit-box-shadow: 0 0 17px 3px #0f0, 0 0 4px 2px #0f0;
        box-shadow: 0 0 17px 3px #0f0, 0 0 4px 2px #0f0;
    }
    60% {
        -webkit-box-shadow: 0 0 17px 3px #ffff01, 0 0 4px 2px #ffff01;
        box-shadow: 0 0 17px 3px #ffff01, 0 0 4px 2px #ffff01;
    }
    80% {
        -webkit-box-shadow: 0 0 17px 3px #f00, 0 0 4px 2px #f00;
        box-shadow: 0 0 17px 3px #f00, 0 0 4px 2px #f00;
    }
    100% {
        -webkit-box-shadow: 0 0 17px 3px #C586C0, 0 0 4px 2px #C586C0;
        box-shadow: 0 0 17px 3px #C586C0, 0 0 4px 2px #C586C0;
    }
}

@keyframes gradient-shadow {
    0% {
        -webkit-box-shadow: 0 0 17px 3px #C586C0, 0 0 4px 2px #C586C0;
        box-shadow: 0 0 17px 3px #C586C0, 0 0 4px 2px #C586C0;
    }
    20% {
        -webkit-box-shadow: 0 0 17px 3px #0ff, 0 0 4px 2px #0ff;
        box-shadow: 0 0 17px 3px #0ff, 0 0 4px 2px #0ff;
    }
    40% {
        -webkit-box-shadow: 0 0 17px 3px #0f0, 0 0 4px 2px #0f0;
        box-shadow: 0 0 17px 3px #0f0, 0 0 4px 2px #0f0;
    }
    60% {
        -webkit-box-shadow: 0 0 17px 3px #ffff01, 0 0 4px 2px #ffff01;
        box-shadow: 0 0 17px 3px #ffff01, 0 0 4px 2px #ffff01;
    }
    80% {
        -webkit-box-shadow: 0 0 17px 3px #f00, 0 0 4px 2px #f00;
        box-shadow: 0 0 17px 3px #f00, 0 0 4px 2px #f00;
    }
    100% {
        -webkit-box-shadow: 0 0 17px 3px #C586C0, 0 0 4px 2px #C586C0;
        box-shadow: 0 0 17px 3px #C586C0, 0 0 4px 2px #C586C0;
    }
}